body {
    background-color: rgb(27, 158, 158);
    background-image: url('../images/green.jpg');
    background-size: 100%; /* Ajuste o tamanho conforme necessário */
    background-repeat: no-repeat;
    /* Fixa a imagem para que ela não role com a página */
    background-color: rgba(255, 255, 255, 0.7); /* Ajuste o valor alfa (0.7) para controlar a transparência */
}

.c-item {
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 25%;
    height: 400px;
    width: 400px;
}

.c-img {
    height: 100%;
}

.posts {
    margin-top: 20px;
}

.form-control {
    border-width: 2px;
}

.form-control:focus{
    box-shadow: none;
    border: 2px solid rgb(169, 169, 169);
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: rgb(169, 169, 169);
}

.posts {
    margin-bottom: 20px;
}

.card-subtitle {
    color: rgb(169, 169, 169);
}

.card-text.created-updated {
    color: rgb(169, 169, 169);
    margin-bottom: 0.5rem;
}

/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 15px;
}
  
  /* Style the links inside the navigation bar */


.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

  
/* Add a color to the active/current link */

.topnav a.active {
    background-color: #c91717;
    color: rgb(0, 0, 0);
}

.topnav a:nth-child(2) {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c91717;
    color:black;
    border-radius: 15px;
    box-shadow: 0 0 15px #08c60e;
}

  /* Style the "Login" link to be white */

.topnav a:nth-child(3) {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color:black;
    border-radius: 15px;
    box-shadow: 0 0 15px #08c60e;
}

/* Style the "Register" link to be blue */


.topnav a:nth-child(4) {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    background-color: rgb(15, 15, 153);
    border-radius: 15px;
    box-shadow: 0 0 15px #08c60e;
}

/*Style the navbar text*/


.navbar-text {
    text-align: center;
    color: rgb(11, 145, 6);
    font-size: 25px;
    flex-grow: 1s;
    display: flex;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333dc;
    color: white;
    text-align: center;
}



